
.icon-mail:before { content: '\e800'; } /* '' */
.icon-camera:before { content: '\e801'; } /* '' */
.icon-info-circled:before { content: '\e802'; } /* '' */
.icon-help-circled:before { content: '\e803'; } /* '' */
.icon-comment:before { content: '\e804'; } /* '' */
.icon-chat:before { content: '\e805'; } /* '' */
.icon-location:before { content: '\e806'; } /* '' */
.icon-calendar:before { content: '\e807'; } /* '' */
.icon-truck:before { content: '\e808'; } /* '' */
.icon-help-circled-1:before { content: '\e809'; } /* '' */
.icon-info:before { content: '\e80a'; } /* '' */
.icon-info-circled-1:before { content: '\e80b'; } /* '' */
.icon-help-1:before { content: '\e80c'; } /* '' */
.icon-home:before { content: '\e80d'; } /* '' */
.icon-phone:before { content: '\e80e'; } /* '' */
.icon-phone-circled:before { content: '\e80f'; } /* '' */
.icon-wallet:before { content: '\e810'; } /* '' */
.icon-comment-1:before { content: '\e811'; } /* '' */
.icon-comment-alt:before { content: '\e812'; } /* '' */
.icon-chat-1:before { content: '\e813'; } /* '' */
.icon-location-1:before { content: '\e814'; } /* '' */
.icon-attach:before { content: '\e815'; } /* '' */
.icon-resize-full:before { content: '\e816'; } /* '' */
.icon-resize-full-circle:before { content: '\e817'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-comment-empty:before { content: '\f0e5'; } /* '' */
.icon-chat-empty:before { content: '\f0e6'; } /* '' */
.icon-direction:before { content: '\f124'; } /* '' */
.icon-help:before { content: '\f128'; } /* '' */
.icon-calendar-empty:before { content: '\f133'; } /* '' */
.icon-compass:before { content: '\f14e'; } /* '' */
.icon-google:before { content: '\f1a0'; } /* '' */
.icon-chart-area:before { content: '\f1fe'; } /* '' */
.icon-chart-pie:before { content: '\f200'; } /* '' */
.icon-balance-scale:before { content: '\f24e'; } /* '' */
.icon-commenting:before { content: '\f27a'; } /* '' */
.icon-commenting-o:before { content: '\f27b'; } /* '' */
.icon-user-circle:before { content: '\f2bd'; } /* '' */
.icon-user-circle-o:before { content: '\f2be'; } /* '' */
.icon-user-o:before { content: '\f2c0'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
